
<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    text-align: center;
  }
</style>

<div class="content" role="main">
  <h1 style="background-color: DodgerBlue">Lista de Tarefas</h1>

  <input [(ngModel)]="novaTarefa" placeholder = "Digite sua nova tarefa..." />
  <button (click)="adicionarTarefa()">Adicionar Tarefa</button>
  <ul>
    @for (tareda of listaDeTarefas; track tarefa id){
      <li>
        
      </li>
    }


  </ul>
</div>
<router-outlet />
